.main li a:hover {
  text-decoration: none;
}

.main li:nth-child(even) a:hover {
  color:red;
}

h1:hover {
  text-decoration: underline;
  cursor:pointer;
}

p:hover i {
  position: relative;
  top:-2px;
  left:2px;
}

.secondary a:hover {
  text-decoration-line: overline;
}

.main li:nth-child(odd) a:hover {
  text-decoration-line: none;
  color:green;
}

p b:hover {
  color:red;
  position:relative;
  top:-2px;
}